<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Newsletter</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>

<div class="container">
    <h2>Assine nossa Newsletter</h2>
    <p>Receba as últimas notícias e atualizações diretamente em sua caixa de entrada.</p>
    <span th:text="${msg}"></span><br>
    
    <input type="button" name="btn-cadas" id="btn-cadas" value="Cadastre-se" src="../templates/cadastro.html">
    <input type="button" name="btn-login" id="btn-login" value="Login" src="../templates/login.html">

</div>

</body>
</html>
