/* Reset de estilos padrão */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img/cidade4.jfif);
    background-size:80%;
   
    
}

/* Estilo do prédio e layout geral */
#building {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

/* Estilo dos andares */
.floor {
    width: 150px;
    height: 60px;
    background-color: #94a9c0;
    border: 2px solid #858e8e;
    display: flex;
    justify-content:right;
      
    cursor: pointer;
    background-image: url(img/vidro2.jfif);
    background-size: 70%;       
    background-repeat: no-repeat;
}

/* Estilo do eixo dos elevadores */
#elevator-shaft {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo dos elevadores */
.elevator {
    width: 100px;
    height: 50px;
    background-color: #94a9c0;
    border: 1px solid #2980b9;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: top 0.5s ease-in-out;
}

/* Posicionamento inicial do Elevador 1 */
#elevator1 {
    left: -125px;
    top: 382px; /* Ajuste conforme necessário para o térreo */
}

/* Posicionamento inicial do Elevador 2 */
#elevator2 {
    right: -128px;
    top: 323px; /* Ajuste conforme necessário para o térreo */
}

/* Estilo do plano de fundo dos andares */
.andar {   
    margin-top: -125px; /* Ajuste conforme necessário */
    position: relative;
    z-index: 1;
}
